body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#display {
    width: 200px;
    height: 30px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
}

.buttons button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 2px;
}
